div
    .hz-fillgaps(data-hz-resource="HzFillgaps")
        | Lorem ipsum dolor sit amet,
        span.hz-fillgaps__gap consectetur
        | adipiscing elit, sed do eiusmod tempor
        span.hz-fillgaps__gap incididunt
        | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        span.hz-fillgaps__gap ullamco
        | laboris nisi ut aliquip ex ea commodo consequat.
    .hz-fillgaps(data-hz-resource="HzFillgaps")
        | Lorem ipsum dolor sit amet,
        span.hz-fillgaps__gap consectetur
        | adipiscing elit, sed do eiusmod tempor
        span.hz-fillgaps__gap incididunt
        | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        span.hz-fillgaps__gap ullamco
        | laboris nisi ut aliquip ex ea commodo consequat.